h3 {
    font-size: 24px;
  }
  
  .checkbox-container {
    display: flex;
    flex-direction: column;
  }
  
  input[type="checkbox"] {
    width: 24px;
    height: 24px;
    border: 2px solid red;
    border-radius: 50%;
    

  }
  
  label {
    margin-left: 5px;
  }