header{
    backdrop-filter: blur(5px);
    position: sticky;
    animation: adjust-header linear both;
    animation-timeline: scroll;
    animation-range:0 200px;
}

@keyframes adjust-header {
    to{
        background: (0,0,0, .3);
        font-size: 12px;
        height: 24px;
    }
    
}